<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>Hello
    <%= title %>
  </h1>

  <h3>
    <%= message %>
  </h3>

  <p>
    Node.js and Express.js to build the API and MongoDB to store the cache data in. The cache does not have another data source
    in the background that is cached.
  </p>
</body>

</html>